version: "3.9"
services:
  spring-app:
    container_name: spring-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9090:9090"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://psql-db:5432/youquiz
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=3ea14367A4
    networks:
      - youquiz
    depends_on:
      - psql-db

  psql-db:
    container_name: psql-db
    image: "postgres:15"
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: "youquiz"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "3ea14367A4"
    volumes:
      - postgres-db:/var/lib/postgresql/data
    networks:
      - youquiz

  sonarqube:
    image: sonarqube:lts
    ports:
      - "9000:9000"
    networks:
      - youquiz
    environment:
      - SONAR_FORCEAUTHENTICATION=false

  jenkins-blueocean:
    image: myjenkins-blueocean:2.414.3-1
    container_name: jenkins-blueocean
    networks:
      - youquiz
    environment:
      - DOCKER_HOST=tcp://docker:2376
      - DOCKER_CERT_PATH=/certs/client
      - DOCKER_TLS_VERIFY=1
      - JAVA_OPTS="-Dhudson.plugins.git.GitSCM.ALLOW_LOCAL_CHECKOUT=true"
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins-data:/var/jenkins_home
      - jenkins-docker-certs:/certs/client:ro
#      - $$HOME:/home
    restart: on-failure


  jenkins-docker:
    image: docker:dind
    container_name: jenkins-docker
    networks:
      - youquiz
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
      - jenkins-docker-certs:/certs/client
    privileged: true
    ports:
      - "2376:2376"
      - "3000:3000"
      - "4000:4000"

networks:
  youquiz:
    name: youquiz
    driver: bridge

volumes:
  postgres-db:
    driver: local
  jenkins-data:
  jenkins-docker-certs:
