<div class="mb-20">
    <ul class="flex align-middle gap-4 flex-col sm:flex-row flex-wrap xl:flex-nowrap">
        <li class="w-full sm:w-[calc(50%_-_.5rem)] xl:w-1/4">
            <app-summary-card [props]="{'title': 'Students', 'iconUrl': 'assets/img/students.png'}">
                <span class="text-3xl font-semibold text-gray-700">{{ students.length }}</span>
            </app-summary-card>
        </li>
        <li class="w-full sm:w-[calc(50%_-_.5rem)] xl:w-1/4">
            <app-summary-card [props]="{'title': 'Trainers', 'iconUrl': 'assets/img/trainers.png'}">
                <span class="text-3xl font-semibold text-gray-700">{{ trainers.length }}</span>
            </app-summary-card>
        </li>
        <li class="w-full sm:w-[calc(50%_-_.5rem)] xl:w-1/4">
            <app-summary-card [props]="{'title': 'My Quizzes', 'iconUrl': 'assets/img/quizz.png'}">
                <span class="text-3xl font-semibold text-gray-700">{{ trainers.length > 0 ?
                    trainers[0].getNumberOfQuizzes() : 0 }}</span>
            </app-summary-card>
        </li>
        <li class="w-full sm:w-[calc(50%_-_.5rem)] xl:w-1/4">
            <app-summary-card [props]="{'title': 'Subjects', 'iconUrl': 'assets/img/subjects.png'}">
                <span class="text-3xl font-semibold text-gray-700">{{ subjects ? subjects.length : 0 }}</span>
            </app-summary-card>
        </li>
    </ul>
</div>