<div class="">
    <div class="flex flex-row items-start">
        <h2 class="text-2xl font-semibold mb-4">Upcoming Quizzes</h2>
        <span *ngIf="numOfUpcomingQuizzes"
            class="h-6 w-8 inline-block ml-1 bg-green-500 rounded-full text-center align-center">
            <span class="text-sm text-white font-semibold align-center">{{ numOfUpcomingQuizzes }}</span>
        </span>
    </div>
    <div class="bg-white border-solid border-2 border-gray-200 px-6 py-4 rounded-2xl">
        <ul>
            <li *ngFor="let upcomingQuiz of upcomingQuizzes">
                <app-upcoming-quiz-card [props]="upcomingQuiz"></app-upcoming-quiz-card>
            </li>
        </ul>
    </div>
</div>