<form class="flex flex-col h-fit justify-center items-center gap-5" [formGroup]="form">
    <mat-dialog-content>
        <h2 class="font-Montserrat font-bold text-[30px] w-[200px] inline-block mt-5">Create Quiz</h2>

        <mat-form-field class="w-full mt-4">
            <mat-label>Score</mat-label>
            <input matInput placeholder="score" formControlName="score" type="number">
        </mat-form-field>

        <mat-radio-group formControlName="showAnswers" aria-label="Select an option" class="block mb-4">
            <label for="" class="block">Do you want to show answers in this Quiz ?</label>
            <mat-radio-button value="true">YES</mat-radio-button>
            <mat-radio-button value="false">NO</mat-radio-button>
        </mat-radio-group>

        <mat-radio-group formControlName="showFinalResults" aria-label="Select an option" class="block mb-4">
            <label for="" class="block">Do you want to show final results to the student in this Quiz ?</label>
            <mat-radio-button value="true">YES</mat-radio-button>
            <mat-radio-button value="false">NO</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="w-full mt-4">
            <mat-label>Number of chance to take this quiz</mat-label>
            <input matInput placeholder="Number Of Chances" formControlName="chanceNum" type="number">
        </mat-form-field>

        <mat-form-field class="w-full mt-4">
            <mat-label>Remark</mat-label>
            <textarea matInput placeholder="Remark" formControlName="remark" name="" id="" rows="5"
                cols="30"></textarea>
        </mat-form-field>

        <mat-form-field class="w-full mt-4">
            <mat-label>Duration In Minutes</mat-label>
            <input matInput placeholder="Duration in minutes" formControlName="durationInMinutes" type="number">
        </mat-form-field>

        <mat-dialog-actions align="center">
            <button mat-dialog-close class="bg-[#ce8c12] rounded-md text-white font-bold p-2">Close</button>
            <button class="bg-[#1267CE] rounded-md text-white font-bold p-2 ml-3" (click)="addQuiz()">Create</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</form>