<div class="flex items-center justify-between min-h-40px p-8 border-t border-gray-200">
    <div class="flex items-center">
        <div class="mr-4">
            <ng-container *ngIf="validation!.points > 0; else zeroPointsSVG">
                <fa-icon class="text-2xl text-green-500" [icon]="correctIcon"></fa-icon>
            </ng-container>
            <ng-template #zeroPointsSVG>
                <fa-icon class="text-2xl text-red-500" [icon]="falseIcon"></fa-icon>
            </ng-template>

        </div>
        <span class="text-lg font-semibold text-gray-800">{{ validation?.response?.response }}</span>
    </div>
    <div class="flex items-center">
        <p>{{ validation?.points }} Pts</p>
    </div>
</div>