<div class="relative inline-block w-full">

    <div (click)="toggleDropdown()"
        class="flex cursor-pointer flex-row-reverse justify-between w-full overflow-hidden bg-white rounded-lg shadow-lg">

        <div class="w-1/5 bg-cover relative"
            style="background-image: url('../../../../../assets/img/img_placeholder.jpg')">
            <p class="absolute bottom-2 right-2">{{ tempo?.time }} s</p>
        </div>
        <div class="p-4 md:p-4">
            <h1 class="text-xl font-bold text-gray-800">{{ tempo?.question?.subject?.title }}</h1>
            <p class="mt-2 text-sm text-gray-600">{{ tempo?.question?.questionText }}</p>
        </div>
    </div>
    <div *ngIf="isOpen" (click)="closeDropdown()"
        class="right-0 z-20 w-full mt-2 overflow-hidden origin-top-right bg-white rounded-md shadow-lg">
        <div class="py-2">
            <app-responses [validations]="validations"></app-responses>
        </div>
    </div>
</div>