<div class="px-12 py-10 md:px-20 lg:px-32">
    <div class="flex justify-between p-4">
        <h1 class="text-2xl">Created Quizzes</h1>
        <app-button [props]="{'type': 'success', 'text':'Create Quiz'}" (click)="openDialog()"></app-button>
    </div>
    <div class="bg-white border-solid border-2 border-gray-200 px-6 py-4 rounded-2xl">
        <ul class="grid lg:grid-cols-3 sm:grid-cols-2 gap-8">
            <li *ngFor="let quiz of quizzes | async">
                <app-quiz-card [quiz]="quiz"></app-quiz-card>
            </li>
        </ul>
    </div>
</div>