<!-- <div [ngClass]="{'relative': true, 'inline-block': true}"
    class="relative inline-block w-full border-2 rounded-md p-2 border-black">
    <select name="" id="" class="appearance-none w-full outline-none">
        <ng-container *ngIf="options.levels.length > 0">
            <option value="">{{ 'Select level' }}</option>
            <option *ngFor="let level of options.levels" [value]="level.id">{{ level.description }}</option>
        </ng-container>

        <ng-container *ngIf="options.subjects.length > 0">
            <option value="">{{ 'Select subject' }}</option>
            <option *ngFor="let subject of options.subjects" [value]="subject.id">{{ subject.title }}</option>
        </ng-container>

        <ng-container *ngIf="!options">
            <option value="">Select Question type</option>
            <option value="SINGLE">SINGLE</option>
            <option value="MULTIPLE">MULTIPLE</option>
            <option value="DIRECT">DIRECT</option>
        </ng-container>
    </select>
</div> -->