
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 42px;
    position: absolute;
    width: 42px;
    border: 3px solid black;
  }
  
  .round label:after {
    border: 4px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 16px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 24px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  
  .container {
    margin: 0 auto;
  }